<ion-view title="{{agent.name}}'s Listings">
    <ion-content padding="true" class="has-header">
        <div class="list card" id="chat-listings-card1">
            <ion-item class="listing-description">Address Description (dummy 1)</ion-item>
            <div class="item item-image">
                <img src="img/Iq6RfARtQS2bcY26YyKU_home.jpg" width="25" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <ion-item class="item-icon-left dark">
                <i class="icon ion-home"></i> listing.address </ion-item>
            <ion-item class="item-icon-left dark">
                <i class="icon ion-ios-alarm-outline"></i>listing.bedrooms Bedrooms</ion-item>
            <ion-item class="item-icon-left dark">
                <i class="icon ion-waterdrop"></i>listing.bathrooms Bathrooms</ion-item>
        </div>
        <div class="list card" id="chat-listings-card2">
            <ion-item class="listing-description">Address Description</ion-item>
            <div class="item item-image">
                <img src="img/Iq6RfARtQS2bcY26YyKU_home.jpg" width="25" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <ion-item class="item-icon-left dark">
                <i class="icon ion-home"></i> Address (dummy 2)</ion-item>
            <ion-item class="item-icon-left dark">
                <i class="icon ion-ios-alarm-outline"></i>2 Bedrooms</ion-item>
            <ion-item class="item-icon-left dark">
                <i class="icon ion-waterdrop"></i>2 Bathrooms</ion-item>
            <form id="chat-listings-form3" class="list ">
                <ion-checkbox name="interested_button">Interested?</ion-checkbox>
            </form>
        </div>
    </ion-content>
</ion-view>