  <!--
    This template loads for the 'tab.friend-detail' state (app.js)
    'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
    The FriendsCtrl pulls data from the Friends service (service.js)
    The Friends service returns an array of friend data
  -->
  <ion-view view-title="{{chat.name}}">
    <ion-content class="padding">
    <!-- delegate-handle="userMessageScroll" -->
      <div class="listings col">
        <a class="button button-dark" style="margin-left:auto; margin-right:auto; display:block" href="#/renter/chats/{{chat.id}}/listings" ng-click="click()">
          View Listings
        </a>
      <ion-item ng-repeat="message in messages">
        <!-- <img ng-src="{{chat.face}}" style="width: 64px; height: 64px"> -->
        <p>
          <span> {{message.renter_id}} says:</span><br>
          {{message.body}}<br>
          <span am-time-ago="message.date | amDateFormat:'YYYY.MM.DD HH:mm:ss'"></span>
        </p>
      </div>
      </ion-item>
      <form name="sendMessageForm" ng-submit="sendMessage(sendMessageForm)">
          <ion-footer-bar class="bar-stable item-input-inset message-footer" keyboard-attach>
              <label class="item-input-wrapper">
                  <textarea ng-model="msg.message" placeholder="Send message..." required minlength="1" maxlength="1500"></textarea>
              </label>
              <div class="footer-btn-wrap">
                <button class="button button-icon icon ion-android-send footer-btn" type="submit"
                    ng-disabled="!input.message || input.message === ''">
                </button>
              </div>
          </ion-footer-bar>
      </form>

    </ion-content>
  </ion-view>

<!-- ElastiChat item template -->
<!--       <div ng-if="user._id == message.agent_id">
        <div class="chat-bubble left">
          <div class="message">{{message.body}}</div>
          <div class="message-detail">
            <span class="bold">{{agent.name}}</span>,
          </div>
        </div>
      </div>

      <div ng-if="user._id == message.renter_id">
        <div class="chat-bubble right">
          <div class="message" ng-bind-html="message.body"></div>
            <div class="message-detail">
              <span ng-click="viewProfile(message)"
                      class="bold">{{renter.name}}</span>,
              <span am-time-ago="message.date"></span>
          </div>
        </div>
      </div> -->