<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">
  <!-- Renter tabs -->
<!-- renter signup -->
  <ion-tab title="R Sign-up" icon-off="ion-person-add" icon-on="ion-person-add" ui-sref="tab.renter-signup">
    <ion-nav-view name="tab-renter-signup"></ion-nav-view>
  </ion-tab>

  <!-- Dashboard Tab -->
  <ion-tab title="R New enquiry" icon-off="ion-compose" icon-on="ion-compose" ui-sref="tab.renter-enquiry.location">
    <ion-nav-view name="tab-renter-enquiry"></ion-nav-view>
  </ion-tab>


  <!-- Chats Tab -->
  <ion-tab title="R Chats" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" ui-sref="tab.renter-chats">
    <ion-nav-view name="tab-renter-chat"></ion-nav-view>
  </ion-tab>

  <!-- My Enquiries Tab -->
  <ion-tab title="R My Enquiries" icon-off="ion-ios-list-outline" icon-on="ion-ios-list-outline" ui-sref="tab.renter-my-enquiries">
    <ion-nav-view name="tab-renter-my-enquiries"></ion-nav-view>
  </ion-tab>

  <!-- Renter Appointments -->
  <ion-tab title="R Appointments" icon-off="ion-ios-calendar-outline" icon-on="ion-ios-calendar" ui-sref='tab.renter-appointments'>
    <ion-nav-view name="tab-renter-appointments"></ion-nav-view>
  </ion-tab>

  <ion-tab title="R Ratings" icon-off="ion-android-checkmark-circle" icon-on="ion-android-checkmark-circle" ui-sref='tab.renter-ratings'>
    <ion-nav-view name="tab-renter-ratings"></ion-nav-view>
  </ion-tab>

    <!-- renter signup -->
  <ion-tab title="R Signup" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" ui-sref="tab.testrenter">
    <ion-nav-view name="tab-testRenter"></ion-nav-view>
  </ion-tab>

    <!-- renter signup -->
  <ion-tab title="R Login" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" ui-sref="tab.testrenterLogin">
    <ion-nav-view name="tab-testRenterLogin"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->

  <!-- <ion-tab title="Account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" ui-sref="tab.renter-account">
    <ion-nav-view name="tab-renter-account"></ion-nav-view>
  </ion-tab> -->

  <!-- Agent tabs -->

  <!-- New Listings -->
  <ion-tab title="A New Listings" icon-off="ion-ios-plus-outline" icon-on="ion-ios-plus" ui-sref="tab.agent-newlisting">
    <ion-nav-view name="tab-newlisting"></ion-nav-view>
  </ion-tab>
  <!-- Enquiries Tab -->
  <ion-tab title="A Enquiries" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" ui-sref="tab.agent-enquiries">
    <ion-nav-view name="tab-enquiries"></ion-nav-view>
  </ion-tab>

  <!-- Appointments -->
  <ion-tab title="A Appointments" icon-off="ion-ios-calendar-outline" icon-on="ion-ios-calendar" ui-sref='tab.agent-appointments'>
    <ion-nav-view name="tab-appointments"></ion-nav-view>
  </ion-tab>

  <!-- My Listings -->
  <ion-tab title="A My Listings" icon-off="ion-clipboard" icon-on="ion-clipboard" ui-sref='tab.agent-listings'>
    <ion-nav-view name="tab-listings"></ion-nav-view>
  </ion-tab>
  <!-- Chats Tab -->
  <ion-tab title="A Chats" icon-off="ion-chatbox-working" icon-on="ion-chatbox-working" ui-sref='tab.agent-chats'>
    <ion-nav-view name="tab-agent-chats"></ion-nav-view>
  </ion-tab>

  <ion-tab title="A Ratings" icon-off="ion-android-checkmark-circle" icon-on="ion-android-checkmark-circle" ui-sref='tab.agent-ratings'>
    <ion-nav-view name="tab-agent-ratings"></ion-nav-view>
  </ion-tab>

  <!-- agent signup -->
  <ion-tab title="A Signup" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" ui-sref="tab.testagent">
    <ion-nav-view name="tab-testAgent"></ion-nav-view>
  </ion-tab>

  <!-- agent signup -->
  <ion-tab title="A Login" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" ui-sref="tab.testagentLogin">
    <ion-nav-view name="tab-testAgentLogin"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="A Account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" ui-sref='tab.agent-account'>
    <ion-nav-view name="tab-agent-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
