<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive" ng-init="checkUserType()">
  <!-- Renter tabs -->
<!-- renter signup -->

  <ion-tab title="Sign-up" icon-off="ion-person-add" icon-on="ion-person-add" ui-sref="tab.renter-auth.signup" hidden="{{agent || renter}}">
    <ion-nav-view name="tab-renter-signup"></ion-nav-view>
  </ion-tab>


  <ion-tab title="New enquiry" icon-off="ion-compose" icon-on="ion-compose" ui-sref="tab.renter-enquiry.location" hidden="{{agent}}">
    <ion-nav-view name="tab-renter-enquiry"></ion-nav-view>
  </ion-tab>

  <!-- My Enquiries Tab -->
  <ion-tab title="My Enquiries" icon-off="ion-ios-list-outline" icon-on="ion-ios-list-outline" ui-sref="tab.renter-my-enquiries" hidden="{{guest || agent}}">
    <ion-nav-view name="tab-renter-my-enquiries"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Chats" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" ui-sref="tab.renter-chats" hidden="{{guest || agent}}">
    <ion-nav-view name="tab-renter-chat"></ion-nav-view>
  </ion-tab>


  <!-- Renter Appointments -->
  <ion-tab title="Appointments" icon-off="ion-ios-calendar-outline" icon-on="ion-ios-calendar" ui-sref='tab.renter-appointments' hidden="{{guest || agent}}">
    <ion-nav-view name="tab-renter-appointments"></ion-nav-view>
  </ion-tab>


  <ion-tab title="R Listings" icon-off="ion-clipboard" icon-on="ion-clipboard" ui-sref='tab.renter-listings' hidden="true">
    <ion-nav-view name="tab-renter-listings"></ion-nav-view>
  </ion-tab>

  <ion-tab title="R Ratings" icon-off="ion-android-checkmark-circle" icon-on="ion-android-checkmark-circle" ui-sref='tab.renter-ratings' hidden="true">
  <ion-nav-view name="tab-renter-ratings"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Account" icon-off="ion-ios-person-outline" icon-on="ion-ios-person-outline" ui-sref="tab.renter-account" hidden="{{guest || agent}}">
    <ion-nav-view name="tab-renter-account"></ion-nav-view>
  </ion-tab>

    <!-- renter signup -->
  <ion-tab title="Signup" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" ui-sref="tab.testrenter">
    <ion-nav-view name="tab-testRenter"></ion-nav-view>
  </ion-tab>

    <!-- renter signup -->
  <ion-tab title="Login" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" ui-sref="tab.testrenterLogin">
    <ion-nav-view name="tab-testRenterLogin"></ion-nav-view>
  </ion-tab>

 <!-- Account Tab -->




<!--   <ion-tab title="R Signup" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" ui-sref="tab.testrenter">
    <ion-nav-view name="tab-testRenter"></ion-nav-view>
  </ion-tab>


  <ion-tab title="R Login" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" ui-sref="tab.testrenterLogin">
    <ion-nav-view name="tab-testRenterLogin"></ion-nav-view>
  </ion-tab>
 -->


  <!-- Agent signup -->
  <ion-tab title="A Sign-up" icon-off="ion-person-add" icon-on="ion-person-add" ui-sref="tab.agent-auth.signup" >
    <ion-nav-view name="tab-agent-signup"></ion-nav-view>
  </ion-tab>
  <!-- New Listings -->
  <ion-tab title="New Listings" icon-off="ion-ios-plus-outline" icon-on="ion-ios-plus" ui-sref="tab.agent-newlisting" ng-show="agent" hidden="{{guest || renter}}">
    <ion-nav-view name="tab-newlisting"></ion-nav-view>
  </ion-tab>
  <!-- Enquiries Tab -->
  <ion-tab title="Enquiries" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" ui-sref="tab.agent-enquiries" hidden="{{guest || renter}}">
    <ion-nav-view name="tab-enquiries"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Chats" icon-off="ion-chatbox-working" icon-on="ion-chatbox-working" ui-sref='tab.agent-chats' hidden="{{guest || renter}}">
    <ion-nav-view name="tab-agent-chats"></ion-nav-view>
  </ion-tab>

  <!-- My Listings -->
  <ion-tab title="My Listings" icon-off="ion-clipboard" icon-on="ion-clipboard" ui-sref='tab.agent-listings' hidden="{{guest || renter}}">
    <ion-nav-view name="tab-listings"></ion-nav-view>
  </ion-tab>


  <!-- Account Tab -->
  <ion-tab title="Appointments" icon-off="ion-ios-calendar-outline" icon-on="ion-ios-calendar" ui-sref='tab.agent-appointments' hidden="{{guest || renter}}">
      <ion-nav-view name="tab-appointments"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Ratings" icon-off="ion-android-checkmark-circle" icon-on="ion-android-checkmark-circle" ui-sref='tab.agent-ratings' hidden="{{guest || renter}}">
    <ion-nav-view name="tab-agent-ratings"></ion-nav-view>
  </ion-tab>

  <!-- agent signup -->
  <ion-tab title="Signup" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" ui-sref="tab.testagent">
    <ion-nav-view name="tab-testAgent"></ion-nav-view>
  </ion-tab>

  <!-- agent signup -->
  <ion-tab title="Login" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" ui-sref="tab.testagentLogin">
    <ion-nav-view name="tab-testAgentLogin"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" ui-sref='tab.agent-account' hidden="{{guest || renter}}">
    <ion-nav-view name="tab-agent-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
