<ion-view view-title="Search">
  <ion-content class="padding">
    <div>
      <ul class="list"> <h2>Hong Kong Island</h2>
        <li class="item" ng-repeat="location in hkIsland | orderBy: 'district' ">{{location.district}}</li>
      </ul>
    </div>
    <div>
      <ul class="list"> <h2>Kowloon</h2>
        <li class="item" ng-repeat="location in kowloon | orderBy: 'district' ">{{location.district}}</li>
      </ul>
    </div>
    <div>
      <ul class="list"> <h2>New Territories</h2>
        <li class="item" ng-repeat="location in newTerritories | orderBy: 'district' ">{{location.district}}</li>
      </ul>
    </div>

  </ion-content>
</ion-view>
