<ion-view view-title="New Listings">
  <ion-content class="padding">

    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="Building Name, Block #">
      </label>

    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="Street">
      </label>

    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="Area">
      </label>

    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="Price">
      </label>

    <h3>Bedroom</h3>

    <div class="button-bar">
      <button class="button button-positive">1</button>
      <button class="button button-positive">2</button>
      <button class="button button-positive">3</button>
      <button class="button button-positive">4</button>
      <button class="button button-positive">5+</button>
    </div>

    <h3>Bathroom</h3>

    <div class="button-bar">
      <button class="button button-positive">Any</button>
      <button class="button button-positive">1</button>
      <button class="button button-positive">2</button>
      <button class="button button-positive">3</button>
    </div>

    <div class="spacer" style="height: 30px;"></div>

    <ion-checkbox ng-model="item.checked"
                  ng-repeat="item in petList"
                  ng-checked="item.checked">
      {{item.text}}
    </ion-checkbox>

    <div class="spacer" style="height: 30px;"></div>

    <!-- File Upload -->
    <form ng-submit="Upload(files)" >
      <input type="file" ng-model="file">
    <button type="submit" class="button button-block button-positive"> Upload </button>
    </form>

    <button class="button button-block icon-left ion-android-add-circle button-positive">Add more photos</button>

    <button class="button button-block button-positive">List</button>
  </ion-content>
</ion-view>
