<ion-view view-title="New enquiry">
  <ion-nav-buttons side="right">
    <a class="button" ui-sref="tab.enquiry.criteria">
        Next
      </a>
  </ion-nav-buttons>
  <ion-content>
  <p>{{enquiry}}</p>
    <ion-list>
      <div ng-repeat="(key,value) in region">
        <ion-item
        class="item-dark"
        ng-click="toggleGroup(key)"
        ng-class="{active: isGroupShown(key)}">
          <i
          class="icon"
          ng-class="isGroupShown(key) ? 'ion-minus' : 'ion-plus'">
          </i> &nbsp; {{key}}
        </ion-item>
        <ion-checkbox
        class="item-accordion item-checkbox-right"
        ng-repeat="area in region[key] | orderBy"
        ng-show="isGroupShown(key)"
        ng-model="enquiry.area[area]">
          {{area}}
        </ion-checkbox>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
