<ion-view view-title="New enquiry">
    <ion-nav-buttons side="right">
      <a class="button" ui-sref="tab.search.criteria">
        Next
      </a>
    </ion-nav-buttons>
  <ion-content class="padding">
    <p>{{isChecked}}</p>
    <div>
      <h2>Hong Kong Island</h2>
      <ion-list>
        <ion-checkbox ng-model="isChecked[location.district]" value="{{location.district}}" ng-repeat="location in hkIsland | orderBy: 'district'">{{location.district}}</ion-checkbox>
      </ion-list>
    </div>
    <div>
      <h2>Kowloon</h2>
      <ion-checkbox ng-model="isChecked[location.district]" ng-repeat="location in kowloon | orderBy: 'district' ">{{location.district}}</ion-checkbox>
    </div>
    <div>
      <h2>New Territories</h2>
      <ion-checkbox ng-model="isChecked[location.district]" ng-repeat="location in newTerritories | orderBy: 'district' ">{{location.district}}</ion-checkbox>
    </div>
  </ion-content>
</ion-view>
