<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Search" icon-off="ion-ios-search" icon-on="ion-ios-search-strong" href="#/renter/search">
    <ion-nav-view name="tab-search"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Chats" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/renter/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/renter/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

  <!-- agent signup -->
  <ion-tab title="TestAgent" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" ui-sref="tab.testagent">
    <ion-nav-view name="tab-testAgent"></ion-nav-view>
  </ion-tab>

  <!-- renter signup -->
  <ion-tab title="TestRenter" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" ui-sref="tab.testrenter">
    <ion-nav-view name="tab-testRenter"></ion-nav-view>
  </ion-tab>

  <!-- agent signup -->
  <ion-tab title="TestAgentLogin" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" ui-sref="tab.testagentLogin">
    <ion-nav-view name="tab-testAgentLogin"></ion-nav-view>
  </ion-tab>

  <!-- renter signup -->
  <ion-tab title="TestRenterLogin" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" ui-sref="tab.testrenterLogin">
    <ion-nav-view name="tab-testRenterLogin"></ion-nav-view>
  </ion-tab>


</ion-tabs>
