<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Create an appointment:</h1>
     <button class="button button-primary" ng-click="appointmentModal.hide()">Cancel</button>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <div class="item item-icon-left" ion-datetime-picker ng-model="appointment.start_time">
        <i class="icon ion-ios-grid-view-outline positive">
        </i>
          Start time:
        <strong>
          {{appointment.start_time| date: "yyyy-MM-dd H:mm"}}
        </strong>
      </div>
      <div class="item item-icon-left" ion-datetime-picker ng-model="appointment.end_time">
        <i class="icon ion-ios-grid-view-outline positive">
        </i>
          End time:
        <strong>
          {{appointment.end_time| date: "yyyy-MM-dd H:mm"}}
        </strong>
      </div>
     <!--  <div class="item item-icon-left" ion-datetime-picker date ng-model="appointment.start_date">
        <i class="icon ion-ios-calendar positive"></i>
        Meeting Date:
        <strong>{{appointment.start_date| date: "yyyy-MM-dd"}}</strong>
      </div>
      <div class="item item-icon-left" ion-datetime-picker time am-pm ng-model="appointment.start_time">
        <i class="icon ion-ios-clock-outline positive"></i>
        Start time:
        <strong>{{appointment.start_time| date: "h:mm a"}}</strong>
      </div>
      <div class="item item-icon-left" ion-datetime-picker time am-pm ng-model="appointment.end_time">
        <i class="icon ion-ios-clock-outline positive"></i>
        End time:
        <strong>{{appointment.end_time| date: "h:mm a"}}</strong>
      </div> -->
      <div class="item item-icon-left">
        <i class="icon ion-ios-location positive"></i>
        <input type="text" placeholder="Meeting Location" ng-model="appointment.location">
      </div>
    </ion-list>
  </ion-content>
  <ion-footer-bar>
    <button class="button button-full button-balanced" ng-click="sendAppointment()">
      Send
    </button>
  </ion-footer-bar>
</ion-modal-view>

