<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Rating History</h1>
     <button class="button button-primary" ng-click="hideRateHist()">Cancel</button>
  </ion-header-bar>
  <ion-content>

    <div class="list card">
      <h3 class="item"> {{currentRating.renter.first_name}} {{currentRating.renter.family_name}}
        <i class="icon ion-ios-star" style="float:right" ng-repeat="i in getNumber(currentRating.renter_rating.rr_overall_star) track by $index"> </i>
      </h3>

      <div class="item" ng-show="currentRating.renter_rating.no_show || currentRating.renter_rating.spy">
        <span class="rating"ng-show="currentRating.renter_rating.no_show" ng-model="renter_ratings.no_show">
          <i class="icon ion-flag"> </i><strong>NO SHOW</strong>
        </span>

        <span class="rating" ng-show="currentRating.renter_rating.spy" ng-model="renter_ratings.spy">
          <i class="icon ion-flag"> </i><strong>SPY</strong>
        </span>
      </div>

      <div class="item" ng-show="currentRating.renter_rating.rr_comment != '' " ng-model="currentRating.renter_rating.rr_comment">
        <h2>Review</h2>

        <p>{{currentRating.renter_rating.rr_comment}}</p>
      </div>
    </div>

  </ion-content>
</ion-modal-view>
