<ion-view title="Enquiry detail">
  <ion-content class="padding">
      <div class="list">
        <ion-item class="item item-icon-left">
          <i class="icon ion-ios-location-outline"></i>
          {{enquiry.enquiry.areas}}
        </ion-item>

        <ion-item  class="item item-icon-left">
          <i class="icon icon-plan2 "></i>
          {{enquiry.enquiry.property_size_min}} to {{enquiry.enquiry.property_size_max}} ft2
         </ion-item >

        <ion-item  class="item item-icon-left">
          <i class="icon ion-cash"></i>
          ${{enquiry.enquiry.price_min}} to${{enquiry.enquiry.price_max}}
        </ion-item >


        <ion-item class="item item-icon-left">
          <i class="icon icon-shower"></i>
          {{enquiry.enquiry.bathroom_num}}
        </ion-item>
        <ion-item  class="item item-icon-left">
          <i class="icon icon-bed"></i>
          {{enquiry.enquiry.bedroom_num}}
        </ion-item>


        <a class="item item-icon-left">
          <i class="icon ion-ios-bolt-outline"></i>
         {{enquiry.enquiry.urgent}}
        </a>

        <a class="item item-icon-left">
          <i class="icon icon-calendar"></i>
         {{enquiry.timeslot}}
        </a>

        <a class="item item-icon-left">
          <i class="icon ion-edit"></i>
         {{enquiry.enquiry.remarks}}
        </a>

      </div>
    <button class="button button-block button-positive" ng-click="getChatRoom(enquiry.chat_id, enquiry.enquiry.id, enquiry.enquiry.renter_id)">
    Chat to {{enquiry.enquiry.first_name}}
    </button>
  </ion-content>
</ion-view>

