<ion-view view-title="My Listings">
  <ion-content class="padding">
<!-- Pull to Refresh -->
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="getListing()">
    </ion-refresher>

    <div class="card" ng-repeat="listing in listings | orderBy: listing.created_at : true">
      <div class="item item-divider">
        <h3>Listings {{listing.index}}</h3>
      </div>
      <div class="row">
        <div class="col-90" ng-click="scrollResize(); changeDisplay(listing);">
          <ion-item class="item item-icon-left">
            <i class="icon ion-ios-location-outline"></i>
            <p>{{listing.area}}</p>
            <!-- ng-repeat="area in listing.areas | limitTo: listings.limitTo"> -->
          </ion-item>
        </div>
        <div class="col-10 col-center">
          <i class="ion-chevron-right" ng-hide="listings.showDetail"></i>
          <i class="ion-chevron-down" ng-hide="!listings.showDetail"></i>
        </div>
      </div>
      <!-- <div ng-hide="!listing.showDetail"> -->
        <div class="row">
          <div class="col-50">
            <ion-item class="item item-icon-left">
              <i class="icon icon-bed"></i> {{listing.bedroom_num}}
            </ion-item>
          </div>
          <div class="col-50">
            <ion-item class="item item-icon-left">
              <i class="icon icon-bathtub"></i> {{listing.bathroom_num}}
            </ion-item>
          </div>
        </div>
        <div class="row">
          <div class="col-50">
            <ion-item class="item item-icon-left">
              <i class="icon icon-scale"></i> {{listing.property_size_gross}} ft<sup>2</sup> (gross)
              <br/> {{listing.property_size_net}} ft<sup>2</sup> (net)
            </ion-item>
          </div>
          <div class="col-50">
            <ion-item class="item item-icon-left">
              <i class="icon ion-social-usd-outline"></i> {{listing.price | number:0}}
              <br/> <!-- {{enquiry.price_max | number:0}} -->
            </ion-item>
          </div>
        </div>
        <!-- move in date change -->
        <div class="row">
          <div class="col-50">
            <ion-item class="item item-icon-left">
              <i class="icon ion-ios-home-outline"></i> {{listing.apt_name}}
            </ion-item>
          </div>
          <!-- urgent change field -->
          <div class="col-50">
            <ion-item class="item item-icon-left">
              <i class="icon ion-map"></i>
              {{listing.street}}
            </ion-item>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <ion-item class="item">
            <h4>Description</h4>
            <p>{{listing.description}}</p>
            </ion-item>
          </div>
        </div>
      </div>
      </div>
    </div>
  </ion-content>
</ion-view>
<!--  <div class="col-33">
          <ion-item class="item item-icon-left">
            <i class="icon ion-ios-home-outline"></i>
            {{enquiry.building_type}} walk up
          </ion-item>
        </div> -->
        <!-- to be updated with new fields. -->
<!--         <div class="row">
          <div class="col">
            <ion-item class="item item-icon-left">
              <i class="icon icon-calendar"></i>
              <p ng-repeat="days in enquiry.available_days">{{days | limitTo : 3}}</p>
              {{enquiry.timeslot}}
            </ion-item>
          </div>
        </div> -->
