<ion-view title="Enquiry detail">

  <ion-content>
  <ion-list>
    <ion-item>
    <ul class="list">
      <li class="item">
        Renter: {{enquiry.renter.email}}
        <!-- entire renter object is available, e.g. enquiry.renter.name, enquiry.renter.email -->
      </li>
      <li class="item">
        Areas: {{enquiry.enquiry.areas}}
        <!-- array -->
      </li>
      <li class="item">
        Property size: {{enquiry.enquiry.property_size_min}} to {{enquiry.enquiry.property_size_max}} ft2
      </li>
      <li class="item">
        Budget: ${{enquiry.enquiry.price_min}} to ${{enquiry.enquiry.price_max}}
      </li>
      <li class="item">
        Bathroom Number: {{enquiry.enquiry.bathroom_num}}
      </li>
      <li class="item">
        Bedroom Number: {{enquiry.enquiry.bedroom_num}}
      </li>
    </ul>
  </ion-list>

  <label class="item item-input">
      <i class="icon ion-email placeholder-icon"></i>
      <input type="email" placeholder="Email" ng-model="user.email">
  </label>

  </ion-content>
  <ion-footer-bar>
    <button class="button button-block button-positive" ng-click="getChatRoom(enquiry.chat_id, enquiry.enquiry.id, enquiry.enquiry.renter_id)">
    Start chatting
    </button>
  </ion-footer-bar>
</ion-view>

