<ion-view view-title="New Listings">
  <ion-content class="padding">

    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="Building Name, Block #"
        ng-model="newListing.building">
      </label>
    </div>

    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="Street"
        ng-model="newListing.street">
      </label>
    </div>


    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="Area"
        ng-model="newListing.area">
      </label>
    </div>


    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="Price"
        ng-model="newListing.price">
      </label>
    </div>


    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="Gross Sqft"
        ng-model="newListing.gross">
      </label>
    </div>


    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="Net Sqft"
        ng-model="newListing.net">
      </label>
    </div>


    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="Building Type e.g. walk up, apartment"
        ng-model="newListing.btype">
      </label>
    </div>

    <h3>Bedroom</h3>

    <div class="button-bar bar-positive">
      <button
        ng-repeat="room in bedroomsBtns"
        ng-click="setActive('bed{{room.number}}'); newlisting.bedroom_num = room.number"
        ng-class="{'button-light': isActive('bed{{room.number}}')}"
        class="button button-block">{{room.number}}</button>
    </div>

    <h3>Bathroom</h3>

    <div class="button-bar bar-positive">
      <button
        ng-repeat="room in bathroomsBtns"
        ng-click="setActiveB('bath{{room.number}}'); newlisting.bathroom_num = room.number"
        class="button button-block"
        ng-class="{'button-light': isActiveB('bath{{room.number}}')}">{{room.number}}</button>
    </div>

    <div class="spacer" style="height: 30px;"></div>

    <ion-checkbox ng-model="item.checked"
                  ng-repeat="item in petList"
                  ng-checked="item.checked">
      {{item.text}}
    </ion-checkbox>

    <div class="spacer" style="height: 30px;"></div>

    <!-- Choose File -->
    <form ng-submit="Upload(files)" >
      <input type="file" ng-model="file">
      <!-- Upload Button -->
      <button type="submit" class="button button-block button-positive"> Upload </button>
    </form>

    <!-- List Button -->
    <button class="button button-block button-positive" ng-click="createListings()">List</button>
  </ion-content>
</ion-view>
