<ion-view title="{{renter.first_name}} {{renter.family_name}}">
  <ion-nav-buttons side="secondary">
    <a class="button button-clear button-positive" ng-click="openPopover($event)">Attach</a>
  </ion-nav-buttons>
  <ion-content class="padding chat-content" class="has-header has-footer">

    <div ng-repeat="message in messages track by $index" class="messages">
    <div ng-class="[
          {receivedAlign: message.imageable_type == 'Renter'&&message.message_type =='text'},
          {sentAlign: message.imageable_type == 'Agent'&&message.message_type =='text'}]" ng-if="message.message_type == 'text'">
      <!-- text -->
      <div class="chat-bubble left" ng-class="[
          {received: message.imageable_type == 'Renter'&&message.message_type =='text'},
          {sent: message.imageable_type == 'Agent'&&message.message_type =='text'}]" ng-if="message.message_type == 'text'">
          <div class="message">
            {{message.body}}
          </div>
          <div class="message-detail">
            <p class="chatTimestampSent">{{parseTime(message.created_at)}}</p>
          </div>
      </div>
      </div>
      <!-- property listings -->
      <div class="chat-bubble left agentlisting" ng-if="message.message_type == 'listing'">
        <div class="message">
          {{message.body}}
        </div>
        <button class="button button-assertive button-block" ng-click="getListings(message.id)">
          View Listing
        </button>
      </div>
      <!-- appointment -->
      <div class="chat-bubble left appointment" ng-if="message.message_type == 'appointment'">
        <div class="message">
          {{message.body}}
        </div>
        <button class="button button-assertive button-block button-clear" ng-hide="message.appointment_status == 'confirmed' || message.appointment_status == 'cancelled'" ng-click="cancelAppointment($index, message.id)">
          Cancel
        </button>
      </div>
    </div>
  </ion-content>
  <ion-footer-bar keyboard-attach class="bar-stable item-input-inset">
    <label class="item-input-wrapper">
      <input type="text" placeholder="Type your message here" on-return="sendMessage(); closeKeyboard()" ng-model="message" on-focus="inputUp()" on-blur="inputDown()" />
    </label>
    <button class="button button-positive button-clear" ng-click="sendMessage()">
      Send
    </button>
  </ion-footer-bar>
</ion-view>