<ion-view title="Enquiry detail">
  <ion-content class="padding">
    <div class="list tabform">
      <ion-item class="item item-icon-left">
        <i class="icon ion-ios-location-outline"></i>
        {{enquiry}}
        <h3 ng-repeat="areas in enquiries[0].enquiry.areas">{{enquiry.enquiry.areas}}</h3>
      </ion-item>
      <div class="row title">
        <div class="col">
          <ion-item class="item item-icon-left">
          <i class="icon ion-ios-person-outline"></i>
          <h3><b>{{enquiry.renter.salutation}} {{enquiry.renter.first_name}} {{enquiry.renter.family_name}}</b></h3>
          </ion-item>
        </div>
      </div>
      <div class="row">
        <div class="col-50">
          <ion-item class="item item-icon-left">
            <i class="icon icon-bed"></i> {{enquiry.enquiry.bedroom_num}}
          </ion-item>
        </div>
        <div class="col-50">
          <ion-item class="item item-icon-left">
            <i class="icon icon-bath"></i> {{enquiry.enquiry.bathroom_num}}
          </ion-item>
        </div>
      </div>
      <div class="row">
        <div class="col-50">
          <ion-item class="item item-icon-left">
            <i class="icon icon-plan2 "></i> {{enquiry.enquiry.property_size_min}}
            <br /> {{enquiry.enquiry.property_size_max}} ft<sup>2</sup>
          </ion-item>
        </div>
        <div class="col50">
          <ion-item class="item item-icon-left">
            <i class="icon ion-social-usd-outline"></i> {{enquiry.enquiry.price_min | number:0}}
            <br />{{enquiry.enquiry.price_max | number:0}}
          </ion-item>
        </div>
      </div>
      <div class="row">
        <div class="col-50">
          <ion-item class="item item-icon-left">
            <i class="icon icon-move"></i> {{enquiry.enquiry.movein_date}}
          </ion-item>
        </div>
        <div class="col-50">
          <ion-item class="item item-icon-left">
            <i class="icon ion-ios-bolt-outline"></i> {{enquiry.enquiry.urgent}}
          </ion-item>
        </div>
      </div>
      <div class="row">
        <div class="col-50">
          <ion-item class="item item-icon-left">
            <i class="icon icon-calendar"></i>
            <p ng-repeat="days in enquiry.enquiry.available_days">{{days}}</p>
          </ion-item>
        </div>
        <div class="col-50">
          <ion-item class="item item-icon-left">
            <i class="icon ion-ios-clock-outline"></i>
            <p ng-repeat="time in enquiry.enquiry.timeslot">
              {{time}}</p>
          </ion-item>
        </div>
      </div>
      <div class="row title">
        <div class="col">
          <ion-item class="item">
            <h4>Remarks</h4>
            <p>{{enquiry.enquiry.remarks}}</p>
          </ion-item>
        </div>
      </div>
    </div>
    <button class="button button-block button-positive" ng-click="getChatRoom(enquiry.chat_id, enquiry.enquiry.id, enquiry.enquiry.renter_id)">
      Chat to {{enquiry.renter.first_name}}
    </button>
  </ion-content>
</ion-view>
