<ion-view view-title="Chats">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right"
      ng-repeat = "(key, chat) in chats track by $index"
      type = "item-text-wrap"
      ng-click="getChat({{key}})"
      ng-show="chat.messages.length">
        <h2>{{chat.renter.first_name}} {{chat.renter.family_name}}</h2>
        <p>{{chat.messages[chat.messages.length-1].body}}</p>
        <!-- <i class="icon ion-record"
           style="color: #DE3C3C; font-size: 20px;"
           ng-init="show[{{chat.chat.id}}] = false"
           ng-if="show[{{chat.chat.id}}]"
           style="color: #F5D247;"></i> -->
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
