<ion-view title="Matched Enquiries">
  <ion-nav-buttons side="secondary">
    <!-- <button class="button">
      I'm a button on the primary of the navbar!
    </button> -->
  </ion-nav-buttons>

<ion-content class="padding">

    <ion-refresher pulling-text="Pull to refresh..." on-refresh="getMatchedEnquiries()">
    </ion-refresher>
    <div class="list">
      <div class="item item-button-right" ng-repeat="enquiry in enquiries">
        <b>{{enquiry.enquiry.areas}}</b>
        <p>submitted by {{enquiry.renter.first_name}} {{enquiry.renter.family_name}}</p>
        <button class="button button-positive" ng-click="showEnquiryDetails(enquiry)">
          Details
        </button>
      </div>

    </div>
  </div>
</ion-view>