<ion-view title="My Appointments" >
  <ion-content padding="true" class="has-header">
    <!-- ng-repeat="appointment in appointments" -->
    <div class="list card">
      <ion-item class="item-icon-left">
        <i class="icon ion-ios-contact"></i>Agent A</ion-item>
      <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      </div>
      <ion-item>
        <i class="icon ion-ios-home"></i>Apt_Name</ion-item>
      <ion-item class="item-icon-left schedule" id="myAppointments-list-item18">
        <i class="icon ion-android-calendar"></i>{{Date}} - {{Time}}</ion-item>
      <!-- pending to add "appointment sent" message overriding the button" -->
      <div>
        <button class="button button-balanced  button-block">Send</button>
      </div>
    </div>
  </ion-content>
</ion-view>