<ion-view view-title="Log in">
  <ion-content class="padding">
    <div class="list">
      <form ng-submit="handleLoginBtnClick()" role="form" ng-init="loginForm = {}">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Mobile number</span>
          <input type="number" name="mobile" ng-model="loginForm.mobile_number" required="required" placeholder="Valid mobile number required for SMS verification" />
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Password</span>
          <input type="password" name="password" ng-model="loginForm.password" required="required" placeholder="Enter a password" />
        </label>
         <ion-toggle ng-model="loginForm.isAgent" toggle-class="toggle-positive">
          I am an agent</ion-toggle>
        <h5>Your number will not be shared with agents or any third party.</h5>
        <button type="submit" class="button button-positive button-large button-block">Log in</button>
      </form>
    </div>
  </ion-content>
</ion-view>