<ion-view view-title="Log in">
  <ion-content class="padding">
    <div class="list tabform">
      <form ng-submit="handleLoginBtnClick()" role="form">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Mobile number</span>
          <input type="text" name="mobile" ng-model="loginForm.mobile_number" required ng-minlength="8" ng-maxlength="8" placeholder="Valid mobile number required for SMS verification" />

        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Password</span>
          <input type="password" name="password" ng-model="loginForm.password" ng-minlength="6" required placeholder="Enter a password" />
        </label>
<!--          <ion-toggle ng-model="loginForm.isAgent" toggle-class="toggle-positive">
          I am an agent</ion-toggle>
        <h5>Your number will not be shared with agents or any third party.</h5> -->
        <button type="submit" class="button button-positive button-large button-block">Log in</button>
      </form>
    </div>
  </ion-content>
</ion-view>

