<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Rating History</h1>
     <button class="button button-primary" ng-click="hideRateHist()">Cancel</button>
  </ion-header-bar>
  <ion-content>

    <div class="list card">
      <h3 class="item"> {{currentRating.agent.first_name}} {{currentRating.agent.family_name}}
        <i class="icon ion-ios-star" style="float:right" ng-repeat="i in getNumber(currentRating.agent_rating.ar_overall_star) track by $index"> </i>
      </h3>

      <div class="item" ng-show="currentRating.agent_rating.no_show || currentRating.agent_rating.spy">
        <span ng-show="currentRating.agent_rating.no_show" ng-model="agent_ratings.no_show">
          <i class="icon ion-flag"> </i><strong>NO SHOW</strong>
        </span>

        <span ng-show="currentRating.agent_rating.spy" ng-model="agent_ratings.spy">
          <i class="icon ion-flag"> </i><strong>SPY</strong>
        </span>
      </div>

      <div class="item" ng-show="currentRating.agent_rating.ar_comment != ' ' " ng-model="currentRating.agent_rating.ar_comment">
        <h2>Your Review</h2>

        <p>{{currentRating.agent_rating.ar_comment}}</p>
      </div>
    </div>

  </ion-content>
</ion-modal-view>
