<ion-nav-view name="review-to-agent">
  <ion-view view-title="Review">
    <ion-content class="padding">
      <div class="list card">
        <div>
          <p style="text-align: center">
              How do you find the agent?
          </p>
          <div style="text-align: center">Share your feedback so that we can do better!
          </div>
        </div>
        <ion-item class="item-icon-left">
          <i class="icon ion-ios-contact"></i>Agent A</ion-item>
        <ion-item class="item-icon-left">
          <i class="icon ion-ios-home"></i>Apt_Name</ion-item>
        <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
          <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <ion-item class="item-icon-left">
          <i class="icon ion-android-star-outline"></i>Rating</ion-item>
        <button class=" button button-positive  button-block ">Submit</button>
        <button style="color:#FF0000;" class=" button button-light  button-block ">Report</button>
      </div>
    </ion-content>
  </ion-view>
</ion-nav-view>