<ion-view view-title="My appointments">
  <ion-content>
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="getAppointments()">
    </ion-refresher>

    <div class="list">
      <div class="item item-divider">
        Upcoming appointment
      </div>
      <a class="item" ng-repeat="(akey, appointment) in appointments['confirmed_upcoming']">
        <p>{{appointment.location}} on {{appointment.start_time | date: "MM-dd-yyyy"}} with {{appointment.agent.first_name}} {{appointment.agent.family_name}}</p>
      </a>
    </div>

    <div class="list">
      <div class="item item-divider">
        Appointment waiting to be confirmed
      </div>
      <a class="item" ng-repeat="(akey, appointment) in appointments['unconfirmed_upcoming']">
        <p>{{appointment.location}} on {{appointment.start_time | date: "MM-dd-yyyy"}} with {{appointment.agent.first_name}} {{appointment.agent.family_name}}</p>
      </a>
    </div>

    <div class="list">
      <div class="item item-divider">
        Past appointment
      </div>
      <a class="item" ng-repeat="(akey, appointment) in appointments['confirmed_past']">
        <p>{{appointment.location}} on {{appointment.start_time | date: "MM-dd-yyyy"}} with {{appointment.agent.first_name}} {{appointment.agent.family_name}}</p>
      </a>
      <button class='button' ng-show="!appointment.renter_rating.done" ng-click="enterRating('confirmed_past', akey)">
        Rate
      </button>
      <button class='button' ng-show="appointment.renter_rating.done" ng-click="showRating('confirmed_past', akey)">
        Rating history
      </button>
    </div>

  </ion-content>
</ion-view>
