<ion-view view-title="My enquiries">
  <ion-content class="padding">
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="getEnquiries()">
    </ion-refresher>
    <div class="card" ng-repeat="enquiry in myEnquiries | orderBy: enquiry.created_at : true">
      <div class="item item-divider">
        <h3>Enquiry {{enquiry.index}}</h3>
      </div>
      <div class="row" ng-click="scrollResize(); changeDisplay(enquiry);">
        <div class="col-90" >
          <ion-item class="item item-icon-left">
            <i class="icon ion-ios-location-outline"></i>
            <p ng-repeat="area in enquiry.areas | limitTo: enquiry.limitTo"> {{area}}</p>
          </ion-item>
        </div>
        <div class="col-10 col-center">
          <i class="ion-chevron-down" ng-hide="enquiry.showDetail"></i>
          <i class="ion-chevron-up" ng-hide="!enquiry.showDetail"></i>
        </div>
      </div>
      <div ng-hide="!enquiry.showDetail">
        <div class="row">
          <div class="col-50">
            <ion-item class="item item-icon-left">
              <i class="icon icon-bed"></i> {{enquiry.bedroom_num}}
            </ion-item>
          </div>
          <div class="col-50">
            <ion-item class="item item-icon-left">
              <i class="icon icon-bathtub"></i> {{enquiry.bathroom_num}}
            </ion-item>
          </div>
        </div>
        <div class="row">
          <div class="col-50">
            <ion-item class="item item-icon-left">
              <i class="icon icon-scale"></i> {{enquiry.property_size_min | number:0}} ft<sup>2</sup>
              <br/> {{enquiry.property_size_max | number:0}} ft<sup>2</sup>
            </ion-item>
          </div>
          <div class="col-50">
            <ion-item class="item item-icon-left">
              <i class="icon ion-social-usd-outline"></i> {{enquiry.price_min | number:0}}
              <br/> {{enquiry.price_max | number:0}}
            </ion-item>
          </div>
        </div>
        <div class="row">
          <div class="col-50">
            <ion-item class="item item-icon-left">
              <i class="icon icon-move"></i> {{enquiry.movein_date}}
            </ion-item>
          </div>
          <div class="col-50">
            <ion-item class="item item-icon-left">
              <i class="icon ion-ios-bolt-outline"></i> {{enquiry.urgent}}
            </ion-item>
          </div>
        </div>
        <!-- to be updated with new fields. -->
        <div class="row">
          <div class="col-50">
            <ion-item class="item item-icon-left">
              <i class="icon icon-calendar"></i>
              <p ng-repeat="days in enquiry.available_days">{{days}}</p>
            </ion-item>
          </div>
          <div class="col-50">
            <ion-item class="item item-icon-left">
            <i class="icon ion-ios-clock-outline"></i>
              <p ng-repeat="time in enquiry.timeslot">
              {{time}}</p>
            </ion-item>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <ion-item class="item">
            <h4>Remarks</h4>
              <p>{{enquiry.remarks}}</p>
            </ion-item>
          </div>
        </div>
      </div>
      <div class="item item-divider" ng-init="dateTime = enquiry.created_at">
        <h4>Your enquiry was sent {{parseDateTime(dateTime)}}</h4>
<!--         <button class="button button-block button-positive">
          View matched agents
        </button> -->
      </div>
    </div>
  </ion-content>
</ion-view>
<!--  <div class="col-33">
          <ion-item class="item item-icon-left">
            <i class="icon ion-ios-home-outline"></i>
            {{enquiry.building_type}} walk up
          </ion-item>
        </div> -->
