<ion-view view-title="New enquiry">
  <ion-content class="padding">
    <ion-list class="criteria">
      <h4>Bedrooms</h4>
      <div class="button-bar custom-width-bar bar-dark">
        <button ng-repeat="room in bedroomsBtns" ng-click="setActive('bed{{room.number}}'); enquiry.bedroom_num = room.number" ng-class="{'button-light': isActive('bed{{room.number}}')}" class="button button-block">{{room.number}}</button>
      </div>
      <h4>Bathrooms</h4>
      <div class="button-bar bar-dark">
        <button ng-repeat="room in bathroomsBtns" ng-click="setActiveB('bath{{room.number}}'); enquiry.bathroom_num = room.number" class="button button-block" ng-class="{'button-light': isActiveB('bath{{room.number}}')}">{{room.number}}</button>
      </div>
      <h4>Price</h4>
      <ion-item class="range">
        <i class="ion-social-usd-outline"></i> &nbsp;Min&nbsp;
        <input type="range" step="2000" min="5000" max="100000" name="Price range" ng-model="enquiry.price_min">
        <i class="ion-social-usd"> {{enquiry.price_min | number:0}}</i>
      </ion-item>
      <ion-item class="range">
        <i class="ion-social-usd-outline"></i> &nbsp;Max
        <input type="range" step="2000" min="5000" max="200000" name="Price range" ng-model="enquiry.price_max">
        <i class="ion-social-usd"> {{enquiry.price_max | number:0}}</i>
      </ion-item>
      <h4>Size</h4>
      <ion-item class="range">
        <i class="icon icon-scale"></i> &nbsp;Min&nbsp;
        <input type="range" step="100" min="100" max="5000" name="Size net" ng-model="enquiry.property_size_min"> {{enquiry.property_size_min | number:0}} ft<sup>2</sup> &nbsp;(net)
      </ion-item>
      <ion-item class="range">
        <i class="icon icon-scale"></i> &nbsp;Max
        <input type="range" step="100" min="100" max="5000" name="Size net" ng-model="enquiry.property_size_max"> {{enquiry.property_size_max | number:0}} ft<sup>2</sup> &nbsp;(net)
      </ion-item>
      <h4>Expected move-in date</h4>
      <div>
        <label class="item item-input item-icon-left">
          <i class="icon icon-move"></i>
          <input style="text-align: center;" type="date" ng-model="movein" placeholder="DD/MM/YYYY">
        </label>
        <ion-toggle class="item-icon-left" ng-model="enquiry.urgent" toggle-class="toggle-positive" ng-true-value="'Urgent'" ng-false-value="'Non-urgent'">
          <i class="icon ion-ios-bolt-outline"></i> Urgent enquiry (
          < 2 weeks) </ion-toggle>
      </div>
      <h4>Availability for viewings</h4>
      <div class="button-bar bar-dark">
        <button ng-repeat="day in daysOfWeek"  class="button dow-btn button-block" ng-click="select = !select; addDayOfWeek(day)" ng-class="select ? 'button-light' : 'button-dark' ">{{day | limitTo: 1}}</button>
      </div>
      <div class="button-bar bar-dark">
        <button ng-repeat="time in timeOfDay" ng-click="select = !select; addTimeOfDay(time)" ng-class="select ? 'button-light' : 'button-dark' " class="button dow-btn button-block">{{time}}</button>
      </div>
      <h4>Additional remarks</h4>
      <label class="item item-input">
        <textarea rows="5" ng-model="enquiry.remarks"></textarea>
      </label>
      <!-- if logged in -->
      <a class="button button-positive button-large button-block" ng-click="sendEnquiry()"> Send enquiry</a>

    </ion-list>
  </ion-content>
</ion-view>
