<ion-view view-title="My appointments">
  <ion-content>
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="getAppointments()">
    </ion-refresher>

      <div class="card" ng-repeat="(key, appointment) in appointments">
        <div class="item item-divider">
          {{appointment.appointment.start_date | date: "MM-dd-yyyy"}}
        </div>
        <div class="item item-text-wrap">
          Appointment with {{appointment.agent.email}}
        </div>
        <div class="item tabs tabs-secondary tabs-icon-left">
          <a class="tab-item" ng-click="confirmAppointments({{appointment.appointment.id}})">
            <i class="icon ion-checkmark-round"></i>
            Confirm
          </a>
          <a class="tab-item" ng-click="cancelAppointments({{appointment.appointment.id}}, key)">
            <i class="icon ion-close-round"></i>
            Cancel
          </a>
        </div>
      </div>

  </ion-content>
</ion-view>
