<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view title="Chat Room">

  <ion-content class="padding col" deletegate-handle="userMessageScroll">
  <div
    class="chat-bubble left"
    ng-repeat="message in messages"
    ng-class="{
      'text': message.message_type == 'text',
      'appointment': message.message_type == 'appointment',
      'listing': message.message_type == 'listing'}">
    <p>
      <span> {{message.imageable_id}} says:</span><br>
      {{message.body}}</p>
      <span am-time-ago="message.created_at"></span>
    </p><!--
        {{message.message_type}}
        {{message.body}} -->
  </div>
  </ion-content>
  <ion-footer-bar keyboard-attach class="bar-stable item-input-inset">
    <label class="item-input-wrapper">
      <input type="text" placeholder="Type your message" on-return="sendMessage(); closeKeyboard()" ng-model="message" on-focus="inputUp()" on-blur="inputDown()" />
    </label>
    <button class="button button-clear" ng-click="sendMessage()">
      Send
    </button>
  </ion-footer-bar>
</ion-view>