<ion-view view-title="My appointments">
  <ion-content>
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="getAppointments()">
    </ion-refresher>

    <div class="list">
      <div class="item item-divider">
        Upcoming appointment
      </div>
      <div class="item" ng-repeat="(akey, appointment) in appointments['confirmed_upcoming']">
        <p> {{appointment.location}} on {{appointment.start_time | date: "MM-dd-yyyy"}} with {{appointment.agent.first_name}} {{appointment.agent.family_name}}
        </p>

      <button class='button button-full' ng-show="!appointment.agent_rating.done" ng-click="enterRating('confirmed_upcoming', akey)">
        Rate Agent
      </button>
      </div>
    </div>

    <div class="list">
      <div class="item item-divider">
        Appointment waiting to be confirmed
      </div>
      <div class="item" ng-repeat="(akey, appointment) in appointments['unconfirmed_upcoming']">
        <p>{{appointment.location}} on {{appointment.start_time | date: "MM-dd-yyyy"}} with {{appointment.agent.first_name}} {{appointment.agent.family_name}}</p>

        <button class='button button-full' ng-show="!appointment.agent_rating.done" ng-click="enterRating('unconfirmed_upcoming', akey)">
          Rate Agent
        </button>
      </div>
    </div>

    <div class="list">
      <div class="item item-divider">
        Past appointment
      </div>
      <div class="item" ng-repeat="(akey, appointment) in appointments['confirmed_past']">
        <p> {{appointment.location}} on {{appointment.start_time | date: "MM-dd-yyyy"}} with {{appointment.agent.first_name}} {{appointment.agent.family_name}}
        </p>

        <button class='button' ng-show="!appointment.agent_rating.done" ng-click="enterRating('confirmed_past', akey)">
          Rate
        </button>
      </div>
      <button class='button' ng-show="appointment.agent_rating.done" ng-click="showRating('confirmed_past', akey)">
        Rating history
      </button>
    </div>

  </ion-content>
</ion-view>
