<ion-view view-title="Agent">
  <ion-content>
    <div class="list">
      <section ng-app="simplyHome" ng-controller="AgentAuthCtrl">
        <h1>Agent Signup</h1>
        <form ng-submit="handleRegBtnClick()" role="form">
          <div class="form-group">
            <label>mobile number</label>
            <input type="text" name="mobile_number" ng-model="registrationForm.mobile_number" required="required" class="form-control"/>
          </div>

          <div class="form-group">
            <label>password</label>
            <input type="password" name="password" ng-model="registrationForm.password" required="required" class="form-control"/>
          </div>

          <div class="form-group">
            <label>password confirmation</label>
            <input type="password" name="password_confirmation" ng-model="registrationForm.password_confirmation" required="required" class="form-control"/>
          </div>

          <div class="form-group">
            <!-- <input type="hidden" name="config" ng-model="registrationForm.config" class="form-control"/> -->
          </div>

          <button type="submit" class="btn btn-primary btn-lg">Register</button>
        </form>
      </section>
    </div>
  </ion-content>
</ion-view>
