/* Empty. Add your own CSS if you like */
/* CORE */
.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

.item-icon-left .icon-sm, .item-icon-right .icon-sm {
  font-size: 24px;
}

/* =======simplyHome icon font ===========*/
@font-face {
    font-family: 'simplyhome';
    src: url('../fonts/simplyhome.eot');
    src: url('../fonts/simplyhome.eot?#iefix') format('embedded-opentype'),
         url('../fonts/simplyhome.woff') format('woff'),
         url('../fonts/simplyhome.ttf') format('truetype'),
         url('../fonts/simplyhome.svg#simplyhome') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class*='icon-']:before{
  display: inline-block;
   font-family: 'simplyhome';
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale
}
.icon-bed:before{content:'\0041';}
.icon-shower:before{content:'\0042';}
.icon-bathtub:before{content:'\0043';}
.icon-move:before{content:'\0044';}
.icon-move2:before{content:'\0045';}
.icon-scale:before{content:'\0048';}
.icon-calendar:before{content:'\0049';}
.icon-building:before{content:'\004a';}
.icon-map:before{content:'\004b';}
.icon-plan2:before{content:'\004c';}
.icon-point:before{content:'\004f';}
.icon-lock:before{content:'\0050';}
.icon-lock2:before{content:'\0051';}
.icon-doc2:before{content:'\0052';}
/* ===================== end =======================*/
