/* Empty. Add your own CSS if you like */
/* CORE */
.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

.item-icon-left .icon-sm, .item-icon-right .icon-sm {
  font-size: 24px;
}

/*index is based on locations object in controller.js*/
.location-0 {
  background-image: url("../img/hkisland.jpg");
  background-size: auto 100%;
}

.location-1 {
  background-image: url("../img/kowloon.jpg");
  background-size: 100%;
}

.location-2 {
  background-image: url("../img/nt.jpg");
  background-size: auto 100%;
}

.button-bar > .button.dow-btn {
  min-width: 0 !important;
}

.button-bar.custom-width-bar .button:first-child{
  width:25%;
  min-width: 25%;
}

/*========================================*/

.enquiryLocation {
  color: white;
  text-shadow: 1px 1px 2px #000;
}

.title {
  padding: 0;
}

.title > .col {
  padding: 0;
}

.tabform .item{
  border-width: 0;
}

.tabform .item-radio input:checked + .radio-content .item-content{
  background-color: white;
}

form input.ng-dirty.ng-invalid {
    border:1px solid red;
}

.row.signup {
  padding: 0;
}
/* =======simplyHome icon font ===========*/
@font-face {
    font-family: 'simplyhome';
    src: url('../fonts/simplyhome.eot');
    src: url('../fonts/simplyhome.eot?#iefix') format('embedded-opentype'),
         url('../fonts/simplyhome.woff') format('woff'),
         url('../fonts/simplyhome.ttf') format('truetype'),
         url('../fonts/simplyhome.svg#simplyhome') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class*='icon-']:before{
  display: inline-block;
   font-family: 'simplyhome';
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale
}
.icon-bed:before{content:'\0041';}
.icon-shower:before{content:'\0042';}
.icon-bathtub:before{content:'\0043';}
.icon-move:before{content:'\0044';}
.icon-move2:before{content:'\0045';}
.icon-scale:before{content:'\0048';}
.icon-calendar:before{content:'\0049';}
.icon-building:before{content:'\004a';}
.icon-map:before{content:'\004b';}
.icon-plan2:before{content:'\004c';}
.icon-point:before{content:'\004f';}
.icon-lock:before{content:'\0050';}
.icon-lock2:before{content:'\0051';}
.icon-doc2:before{content:'\0052';}
/* ===================== end =======================*/
  border-radius: 5px;
  display: inline-block;
  padding: 10px 18px;
  position: relative;
  margin: 10px;
  max-width: 80%;
}

.chat-bubble:before {
  content: "\00a0";
  display: block;
  height: 16px;
  width: 9px;
  position: absolute;
  bottom: -7.5px;
}
.chat-bubble.left {
  background-color: #e6e5eb;
  float: left;
  margin-left: 55px;
}

.chat-bubble.left:before {
  background-color: #e6e5eb;
  left: 10px;
  -webkit-transform: rotate(70deg) skew(5deg);
}
.chat-bubble.right {
  background-color: #158ffe;
  color: #fff;
  float: right;
  margin-right: 55px;
}
.chat-bubble.right:before {
  background-color: #158ffe;
  right: 10px;
  -webkit-transform: rotate(118deg) skew(-5deg);
}

.bar-footer {
  overflow: visible !important;
}

.bar-footer textarea {
  resize: none;
  height: 25px;
  width: 100%;
}

/* fixes an ios bug bear */
/*button.ion-android-send {
  padding-top: 2px;
}*/

/* add this to keep your footer buttons down
at the bottom as the textarea resizes */
.footer-btn-wrap {
  position: relative;
  height: 100%;
  width: 50px;
  top: 7px;
}

.footer-btn {
  position: absolute !important;
  bottom: 0;
}

.bar.item-input-inset .item-input-wrapper input {
  width: 100% !important;
}

.listings {
  border: 0.5px solid #C3C3C3;
  margin: 0px;
  z-index: 1;
  position: fixed;
  top: 43px;
  background-color: white;
}

.listings>.button {
  margin: 10px;
  display: block;
}

.dotmenu {
  z-index: 1;
  float: right;
}

.button-bar.custom-width-bar .button:first-child {
  width: 25%;
  min-width: 25%;
}